<template name="qualitywidget">
  <div class="quality-content">
    <div class="quality-content-viz">
      <progress-bubble class="quality-bubble" value="{{quality.value}}" max="100">
        <div class="progress-title" style="font-size: 17px;">
          {{quality.text}}
          <div style="font-size: 12px; display:inline; color:#c6c6c6;"></div>
        </div>
      </progress-bubble>
    </div>
    <div class="widget-title">
      <div class="widget-title-text">Prediction Quality</div>
      <iron-icon class="widget-title-icon quality-info" icon="icons:info"></iron-icon>
    </div>
    <paper-spinner style="position: absolute; bottom:30px; right: 20px;" class="hr-spinner" active></paper-spinner>
    <div class="help-info" style="border-radius: 5px;">
      <iron-icon class="close-info" icon="icons:clear"></iron-icon>
      <div class="help-info-container">
        <div class="help-text">
          The prediction is based on <u>{{quality.cases}}</u> number of cases.
          Thus, the prediction is considered <u>{{quality.casestext}}</u>
        </div>
      </div>
    </div>
  </div>
</template>
