<template name="semesterplan">
  <paper-material class="card-content coursescard-paper">
    <div class="chart-content">
      <!-- Top card content -->
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Semester Plan
            </div>
            <iron-icon class="card-info" icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">
            <!-- Strong influence in prediction -->
          </div>
        </div>
      </div>
      <div class="card-settings-icon">
        <iron-icon class="settings-icon" icon="icons:create"></iron-icon>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle cc-middle-content">
        {{#each hardCourses}}
        <div id="cc-{{_id}}" class="cc-course">
          <div class="cc-meter">
            <div class="cc-topdata">{{{students}}}</div>
            <div class="cc-bottom" style="height: {{both}}%;"></div>
            <div class="cc-top"    style="height: {{toph}}%;">
              <div class="cc-passed-legend">{{passed}} ({{toph}}%) Passed</div>
            </div>
          </div>
          <div class="cc-metadata">
            <div class="cc-name">{{{name}}}</div>
            <div class="cc-id">{{{_id}}}</div>
          </div>
          <paper-ripple></paper-ripple>
        </div>
        {{else}}
        <div class="cc-nothing-add">Add some courses</div>
        {{/each}}
      </div>
      <!-- Bottom card content -->
      <div class="card-content-bottom cc-content-bottom">
        <div class="card-content-control" style="margin-top: 15px;">
          {{#if selectedCourse}}
          <div class="control-title">Course Details</div>
          <div class="horizontal-section">
            <div class="selected-container animated fadeIn">
              <div class="selected-course" style="cursor: default;">
                <div id="checkboxLabel" class="selected-course-meta" style="width: 100%;">
                  <div class="course-name">{{selectedCourse.name}}</div>
                  <div style="display: flex; justify-content: space-between;">
                    <div class="course-id">{{selectedCourse.id}} - {{selectedCourse.credits}} Credits</div>
                    <div class="course-id" style="align-self: flex-end;">Only {{selectedCourse.passed}} ({{selectedCourse.percent}}%) have passed.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{else}}
          <div class="control-title">Course Details</div>
          <div class="horizontal-section">
            <div class="selected-container animated fadeIn">
              <div class="selected-course" style="cursor: default;">
                <div id="checkboxLabel" class="selected-course-meta">
                  <div class="course-name">Select a course to see more details.</div>
                </div>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="card-content-control" style="position: relative; margin-top: 10px;">
          <div class="control-title">
            Credits
            {{#if numberCredits.warning}}
            <iron-icon icon="icons:warning" class="cc-icon-warning"></iron-icon>
            {{/if}}
          </div>
          <div class="horizontal-section" style="margin-top: 8px;">
            <div class="cc-progress-hzbar">
              <iron-icon icon="icons:arrow-drop-down"></iron-icon>
              <div class="cc-hzbar-title" style="color: {{numberCredits.color}}">Suggested max load (30 Credits)</div>
            </div>
            <paper-progress class="cc-progress-load progress-color" max="60" secondary-progress="30" value="{{numberCredits.credits}}"></paper-progress>
            <div class="cc-number progress-bar-number">
              <div class="cc-value">{{numberCourses.number}}</div>
              &nbsp;{{numberCourses.text}},&nbsp;
              <div class="cc-value">{{numberCredits.credits}}</div>&nbsp;Credits
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Settings panel  -->
    <div class="settings-content">
      <div class="card-content-top" style="margin-bottom: 0px;">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Edit
            </div>
            <iron-icon class="card-info" icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle-tool">
            <paper-input label="Search for a Course" id="search-box">
              <iron-icon icon="search" prefix></iron-icon>
              <!-- <paper-icon-button suffix class="clear-search" icon="clear" alt="clear" title="clear" tabindex="0" style="color: red;"></paper-icon-button> -->
            </paper-input>
            {{#if getCourses}}
            <div class="search-results">
              {{#each getCourses}}
              <div class="result-course" style="position: relative">
                <div class="result-name">{{{name}}}</div>
                <div class="result-desc">{{{_id}}} - {{credits}} Credits</div>
                <paper-ripple></paper-ripple>
              </div>
              {{/each}}
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      <!-- <div class="card-content-middle"></div> -->
      <div class="card-content-bottom">
        {{#if sessionCourses}}
        <div class="control-title" style="padding-top: 0px;">Selected Courses</div>
        <div class="selected-courses">
          {{#each sessionCourses}}
          <div class="selected-container animated fadeIn">
            <div class="selected-course" checked>
              <div id="checkboxLabel" class="selected-course-meta">
                <div class="course-name">{{name}}</div>
                <div class="course-id">{{_id}} - {{credits}} Credits</div>
              </div>
            </div>
            <iron-icon class="remove-selected-course" icon="icons:close"></iron-icon>
            <paper-ripple></paper-ripple>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div>
      <div class="settings-warning-message" style="display:none; color: #e64c3c; font-size: 13px; margin-top: 5px;">Can't add more courses.</div>
      {{#if loading}}
      <paper-spinner-lite style="position: absolute; bottom:5px; right: 8px;" class="sw-spinner pink" active></paper-spinner-lite>
      {{/if}}
    </div>
    <div class="help-info">
      <iron-icon class="close-info" icon="icons:clear"></iron-icon>
      <div class="help-info-container">
        <!-- <div class="help-text ht-top">
        Muestra de manera ordenada los aspectos que afectan el cálculo de la predicción.
      </div> -->
      <div class="help-text ht-middle">
        Shows the courses that the student wants to take the next semester.
        Failed curses are shown by default.
        Courses can be added or removed by pressing the edit button.
      </div>
      <div class="ht-bottom" style="color: white; font-size: 13px;">
        [click anywhere to close]
      </div>
    </div>
  </div>
</paper-material>
</template>
