.prediction-content {
  background: white;
  padding: 15px;
  margin:  7px;
  height: 417px;
  min-width: 350px;
  max-width: 350px;
}

.prediction-middle {
/*  display: flex;
  justify-content: space-between; */
}

.std {
  min-width: 10px;
  max-width: 10px;
  min-height: 10px;
  max-height: 10px;
  margin-top: 1px;
  background: #b45c7e;
  border-radius: 50%;
}

.prediction-bar {
  display: block;
  width: 100%;
  margin: 2px 0 0;
}

.adjust-p {
  color: #b25d7e;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: -14px;
  right: 0;
}
