<template name="predictionarea">
  <paper-material class="prediction-content" elevation="1">
    <div class="card-title" track="studentskills.topcontent.title">
      <div class="title-container">
        <h1 class="profile-title">Chance of Success</h1>
        <iron-icon class="card-info" icon="icons:info" track="studentskills.topcontent.infoicon"></iron-icon>
      </div>
      <h2 class="explorer-subtitle">Shows a predicton given the planned program.</h2>
      <paper-toggle-button class="gc-toggle" checked track="grades.topcontent.togglebutton"></paper-toggle-button>
    </div>
    <div class="prediction-middle">

      <div class="success-top" style="height: 112px;">
        <div class="std-main" style="left: {{prediction}}%;">
          <div class="std"></div><div class="std"></div>
          <div class="std"></div><div class="std"></div>
          <div class="std"></div><div class="std"></div>
          <div class="std"></div><div class="std"></div>
          <div class="std"></div><div class="std"></div>
        </div>
      </div>
      <div class="success-bottom">
        <paper-progress class="prediction-bar transiting" value="{{prediction}}" max="100"></paper-progress>
        <div class="u-bar" style="width: 30%; margin-left: {{usuccess}}%;"><iron-icon icon="icons:arrow-drop-up" track=""></iron-icon></div>
        <div class="chance-sub">With your <b>current plan</b>, <b>8</b> out of <b>10</b> students score with <b>{{prediction}}</b>%</div>
      </div>

      <div class="success-top">
        <div class="chance">
          <div class="chance-text">Your performance is</div>
          <div class="predic-text">{{performance}}<span>%</span>
            <div class="adjust-p">adjust
              <paper-ripple></paper-ripple>
            </div>
          </div>
        </div>
        <div class="prediction">
          <div class="chance-sub">Based in your <b>score records</b></div>
          <div class="predic-sub">{{text}}</div>
        </div>
        <paper-slider class="performance-slider" style="display: none;" pin value="{{performance}}" max="100" min="1" step="1"></paper-slider>
      </div>

      <!-- {{> riskwidget}}    -->
      <!-- {{> qualitywidget}} -->
      <!-- {{> aspectswidget}} -->
    </div>
  </paper-material>
</template>
