<template name="predictionarea">
  <paper-material class="prediction-content" elevation="1">
    <div class="card-title" track="studentskills.topcontent.title">
      <div class="title-container">
        <h1 class="profile-title">Chance of Success</h1>
        <iron-icon class="card-info" icon="icons:info" track="studentskills.topcontent.infoicon"></iron-icon>
      </div>
      <h2 class="explorer-subtitle">Shows a predicton given the planned program.</h2>
      <paper-toggle-button class="gc-toggle" checked track="grades.topcontent.togglebutton"></paper-toggle-button>
    </div>
    <div class="prediction-middle">
      {{> riskwidget}}
      {{> qualitywidget}}
      <!-- {{> aspectswidget}} -->
    </div>
  </paper-material>
</template>
