<template name="programexplorer">
  <paper-material class="explorer-content">
    <h1 class="explorer-title">Student Program</h1>
    <div class="explorer-top"><!-- Program Filtering --></div>
    <div class="explorer-mid">
      <div class="fase">
        <div class="fase-title">Fase 1 (2014-2015)</div>
        <div class="fase-content">
          <div class="eerste semester">
            <div class="eerste-title">S1</div>
            <div class="metadata">30 <span>credits</span></div>
            <div class="course"></div>
            <div class="course"></div>
            <div class="course"></div>
            <div class="course"></div>
          </div>
          <div class="tweede semester">
            <div class="tweede-title">S2</div>
            <div class="metadata">30 <span>credits</span></div>
            <div class="course"></div>
            <div class="course"></div>
            <div class="course"></div>
            <div class="course"></div>
            <div class="course"></div>
            <div class="course"></div>
            <div class="course"></div>
          </div>
        </div>
      </div>
    </div>
  </paper-material>
</template>
