<template name="programexplorer">
  <paper-material class="explorer-content" elevation="1">
    <div class="card-title" track="studentskills.topcontent.title">
      <div class="title-container">
        <h1 class="explorer-title">Student Program</h1>
        <iron-icon class="card-info" icon="icons:info" track="studentskills.topcontent.infoicon"></iron-icon>
      </div>
      <h2 class="explorer-subtitle">Shows an overview of the student's program</h2>
    </div>
    <div class="explorer-top"><!-- Program Filtering --></div>
    <div class="explorer-mid">
      {{#with firstyear}}
      <div class="fase">
        <div class="fase-title">
          <iron-icon icon=""></iron-icon>
          Year 1<span>({{year}})</span>
          <iron-icon icon=""></iron-icon>
        </div>
        <div class="fase-content">
          <div class="eerste semester">
            <div class="eerste-title">S1</div>
            <div class="metadata">
              <div class="sc1" style="border-bottom: 2px solid {{color}}">{{sc1}}<span>%</span></div>
              <div>30/30</div>
            </div>
            {{#each sem1}}
            <div class="course">
              <div class="course-title">{{opleidingsonderdeel}}</div>
              <div class="course-meta">
                <div class="course-score"><span style="border-bottom: 2px solid {{color}}">{{score}}</span>score</div>
                <div class="course-credits"><span>{{credits}}</span>ects</div>
              </div>
              <paper-ripple></paper-ripple>
            </div>
            {{/each}}
          </div>
          <div class="tweede semester">
            <div class="tweede-title">S2</div>
            <div class="metadata">
              <div class="sc2" style="border-bottom: 2px solid {{color}}">{{sc2}}<span>%</span></div>
              <div>30/30</div>
            </div>
            {{#each sem2}}
            <div class="course">
              <div class="course-title">{{opleidingsonderdeel}}</div>
              <div class="course-meta">
                <div class="course-score"><span style="border-bottom: 2px solid {{color}}">{{score}}</span>score</div>
                <div class="course-credits"><span>{{credits}}</span>ects</div>
              </div>
              <paper-ripple></paper-ripple>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/with}}

      {{#with secondyear}}
      <div class="fase">
        <div class="fase-title">
          <iron-icon icon=""></iron-icon>
          Year 2<span>({{year}})</span>
          <iron-icon icon=""></iron-icon>
        </div>
        <div class="fase-content">
          <div class="eerste semester">
            <div class="eerste-title">S1</div>
            <div class="metadata">
              <div class="pscore">{{sc3}}50</div><span>%</span>
              <div>30/30</div>
            </div>
            <div id="currentList">
              <!-- <div class="course-add-border last">
              <div class="text-add">drop course here</div>
              <paper-ripple></paper-ripple>
            </div> -->
          </div>
        </div>
        <div class="tweede semester">
          <div class="tweede-title current">S2</div>
          <div class="metadata">
            <div class="pscore">{{performance}}</div><span>%</span>
            <div class="workload">{{workload}}/30</div>
          </div>
        </div>
      </div>
    </div>
    {{/with}}

    {{#with thirdyear}}
    <div class="fase">
      <div class="fase-title">
        <iron-icon icon=""></iron-icon>
        Year 3<span> (current)</span>
        <iron-icon icon=""></iron-icon>
      </div>
      <div class="fase-content">
        <div class="eerste semester">
          <div class="eerste-title">S1</div>
          <div class="metadata"><div class="sc3">{{sc3}}</div><span>score</span><iron-icon icon=""></iron-icon></div>
          <!-- <div id="currentList"> -->
          <!-- <div class="course-add-border last">
          <div class="text-add">drop course here</div>
          <paper-ripple></paper-ripple>
        </div> -->
        <!-- </div> -->
      </div>
      <div class="tweede semester">
        <div class="tweede-title current">S2</div>
        <div class="metadata"><div class="workload">{{workload}}/30</div></div>
      </div>
    </div>
  </div>
  {{/with}}

  <div class="fase">
    <div class="fase-title">
      <iron-icon icon=""></iron-icon>
      Year 2<span></span>
      <iron-icon icon=""></iron-icon>
    </div>
    <div class="fase-content">
      <div class="eerste semester">
        <div class="eerste-title" style="background: #B45C7E;">Current</div>
        <div class="metadata">
          <div class="pscore">{{prediction}}%</div>
          <div class="workload"><b>{{workload}}</b>/30</div>
        </div>
        <div id="currentList">
          <!-- <div class="course-add-border last">
          <div class="text-add">drop course here</div>
          <paper-ripple></paper-ripple>
        </div> -->
      </div>
    </div>
  </div>

</div>

<!-- This is the navigation/selection area -->
<div class="courses">
  <div class="fase-title">
    <iron-icon icon=""></iron-icon>Courses<iron-icon icon=""></iron-icon>
  </div>
  <div class="available">
    <div class="available-title">Available For You</div>
    <div id="availableList" class="available-courses">
      {{#each courses}}
      <div class="course" id="{{this._id}}" credits="{{credits}}">
        <div class="course-title">{{name}}</div>
        <div class="course-credits"><span>{{credits}}</span>ects</div>
        <paper-ripple></paper-ripple>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="unavailable">
    <div class="unavailable-title">Unavailable For You</div>
    <div class="unavailable-courses">
      {{#each courses}}
      <div class="course" style="opacity: 0.6;">
        <div class="course-title">{{name}}</div>
        <div class="course-credits"><span>{{credits}}</span>ects</div>
        <paper-ripple></paper-ripple>
      </div>
      {{/each}}
    </div>
  </div>
</div>
</div>
</paper-material>
</template>
