<template name="historicalcard">
  <paper-material class="card-content historicalcard-paper">
    <div class="chart-content hc-card-content">
      <!-- Top Content -->
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">Historical Records</div>
            <iron-icon class="card-info" icon="icons:info"></iron-icon>
          </div>
          {{#if isOn}}
          <div class="card-subtitle">
            <!-- Strong influence in prediction -->
          </div>
          {{/if}}
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <iron-icon class="settings-icon" icon="icons:settings"></iron-icon> -->
        <paper-toggle-button class="hc-toggle" checked></paper-toggle-button>
      </div>
      {{#if isOn}}
      <!-- Middle Content -->
      <div class="card-content-middle" style="margin-top: 40px;">
        <div class="sg-chart-container">
          <div class="sg-vertical-axis" style="left: -7px;">
            <div class="sg-vertical-axis-title">Students</div>
          </div>
          <div class="hc-svg-container">
            <svg id="area">
              <line class="animated fadeIn" x1="0"  x2="0"  y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="69"  x2="69"  y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="135" x2="135" y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="200" x2="200" y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="268" x2="268" y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="335" x2="335" y1="5" y2="173" stroke="#eeeeee" stroke-width="1" stroke-dasharray="1,3"/>
            </svg>
          </div>
          <input type="text" id="selector" name="example_name" value="" style="display: none;"/>
        </div>
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom" style="margin-top: 15px;">
        <div class="card-content-control">
          <div class="control-title">Prediction based on</div>
          <div class="horizontal-section">
            <div class="selected-container animated fadeIn">
              <div class="selected-course" style="cursor: default;">
                <div id="checkboxLabel" class="selected-course-meta">
                  <div class="course-name">{{students}} Students in {{courses}} Courses</div>
                  <div class="course-id">From {{from}} to {{to}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <div class="card-content-middle">
        <div class="cc-nothing animated fadeIn" style="background: none; height: 400px;">
          <div class="cc-nothing-message">This card is turned off</div>
        </div>
      </div>
      {{/if}}
    </div>
    <div class="help-info" style="z-index: 100;">
      <iron-icon class="close-info" icon="icons:clear"></iron-icon>
      <div class="help-info-container">
        <div class="help-text ht-middle">
          Shows the historical records that are being used to calculate the chance of success. You can adjust the time range of records used for the prediction.
        </div>
        <div class="ht-bottom" style="color: white; font-size: 13px;">
          [click anywhere to close]
        </div>
      </div>
    </div>
    {{#if loading}}
    <paper-spinner-lite style="position: absolute; bottom:20px; right: 20px;" class="hr-spinner pink" active></paper-spinner-lite>
    {{/if}}
  </paper-material>
</template>
