<template name="coursedetails">
  {{#with overlay}}
  <paper-material class="course-overlay" elevation="1">
    <div class="card-title" track="studentskills.topcontent.title">
      <div class="title-container">
        <h1 class="explorer-title">{{name}}</h1>
        <iron-icon class="card-info" icon="icons:info" track="studentskills.topcontent.infoicon"></iron-icon>
      </div>
      <h2 class="explorer-subtitle"><b>{{code}}</b> - {{credits}} credits</h2>
    </div>
  </paper-material>
  {{/with}}
</template>
